body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

/*body {
    background: white url("images/Food-Background.jpg") no-repeat left top;
    background-size: cover;
}*/

.img-circle {
    border-radius: 50%;
}