<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{order_list.restaurant.name}}</title>
    {% load filters %}
</head>
<body>
<div class="nav-bar" style="width: 100%; position: fixed; margin-top: 0px;z-index: 9999; background-color: white">
<div class="row" style="font-size: 19px; background-color: #ddffdd">
    {% if request.user.is_authenticated %}
        <div class="col-md-2"><a href="{% url 'logout' %}">{{ request.user.username }} logout</a></div>
        <div class="col-md-1"><a href="{% url 'restaurant_list' %}">返回首页</a></div>
    {% endif %}

</div>
<div>
    <h3>
        {{order_list.restaurant.name}} 订单已提交
    </h3>
</div>
<div>
    共消费 ￥{{ order_list|total_consumption_per_order_list }}
    <br>外送费 ￥{{ order_list.restaurant.deliver_cost }}
</div>
</div>
<div style="width: 100%; padding-top: 150px; z-index: 10000">
    <table>
        {% for order in order_list.order_set.all %}
            <tr>
                <td>{{ order.customer.name }} ￥{{ order.dishes.all|total_consumption_per_order }}:</td>
                {% for dish in order.dishes.all %}
                    <td style="padding-left:60px">{{ dish }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>