<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div class="row" style="font-size: 19px; background-color: #ddffdd">
    {% if request.user.is_authenticated %}
        <div class="col-md-2"><a href="{% url 'logout' %}">{{ request.user.username }} logout</a></div>
    {% endif %}
    <div class="col-md-1"><a href="{% if request.user.is_authenticated %}
                                       {% url 'restaurant_list' %}
                                   {% else %}
                                       {% url 'login' %}
                                   {% endif %}">
                         返回首页</a></div>
</div>
<h1>{{ info }}</h1>
</body>
</html>