

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>{{restaurant.name}}</title>
    {% load filters %}
</head>
<body>
<div class="nav-bar" style="width: 100%; position: fixed; margin-top: 0px;z-index: 9999; background-color: white">
    <div>
        <h3>
            <b>{{restaurant.name}}</b>
            <a class="btn btn-default" href="{% url 'start_order' restaurant_pk=restaurant.pk %}"><span class="glyphicon glyphicon-pencil">start order</span></a>
        </h3>
    </div>
    <div class="row" style="font-size: 19px; background-color: #ddffdd">
        {% if request.user.is_authenticated %}
            <div class="col-md-2"><a href="{% url 'logout' %}">{{ request.user.username }} logout</a></div>
        {% endif %}
        <div class="col-md-1"><a href="{% url 'restaurant_list' %}">返回首页</a></div>
    </div>
</div>
    <div class="container-fluid" style="width: 100%; padding-top: 120px; z-index: 10000">
        <div class="row" style="font-size: 14px">
        {% for group_name in dishes.keys %}
            <div class="row">
                <div class="col-md-12"><br></div>
            </div>
            <div class="row">
                <div class="col-md-12" style="font-size: 26px"><b>{{ group_name }}</b></div>
            </div>
            {% for dish in dishes|find_dishes_by_group:group_name%}
            <div class="col-md-2" style="height: 180px">
                <img src= "{{ dish.image.url }}" height="80" width="80">
                <br>{{ dish.name }}
                <br>{{ dish.rating }}分 ({{ dish.rating_count }}评)
                  月售{{ dish.month_sales }}份
                <br>{{ dish.price }}元
            </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
</body>
</html>