<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>{{ order_list.restaurant.name }}</title>
    {% load filters %}
</head>
<body>
<div class="nav-bar" style="width: 100%; position: fixed; margin-top: 0px;z-index: 9999; background-color: white">
{% if request.user.is_authenticated %}
<div class="row" style="font-size: 19px; background-color: #ddffdd">
    {% if request.user.is_authenticated %}
        <div class="col-md-2"><a href="{% url 'logout' %}">{{ request.user.username }} logout</a></div>
    {% endif %}
    <div class="col-md-1"><a href="{% url 'restaurant_list' %}">返回首页</a></div>
</div>
{% endif %}
<div><br></div>
{% if not order_list.is_submitted and is_current_order_list and request.user.is_authenticated%}
<div>
    <a class="btn btn-default" href="{% url 'end_order' order_pk=order_list.pk %}"><span class="glyphicon glyphicon-pencil">end order</span></a>
</div>
{% endif %}
<div>
    {% if order_list.is_submitted %}
        <h1>
            此订单已提交
        </h1>
    {% else %}
        {% if is_current_order_list %}
            <h1>
                正在点餐中...
            </h1>
        {% else %}
            <h1>
                此订单已过期
            </h1>
        {% endif %}
    {% endif %}
</div>
<div>
    <h3>
        {{order_list.restaurant.name}} 点单情况
    </h3>
</div>
<div>
    共消费 ￥{{ order_list|total_consumption_per_order_list }}
    <br>外送费 ￥{{ order_list.restaurant.deliver_cost }}
</div>
</div>
<div style="width: 100%; padding-top: 280px; z-index: 10000">
    <table>
        {% for order in order_list.order_set.all %}
            <tr>
                <td>{{ order.customer.name }} ￥{{ order.dishes.all|total_consumption_per_order }}:</td>
                {% for dish in order.dishes.all %}
                    <td style="padding-left:60px">{{ dish }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>