<!DOCTYPE html>
<html lang="en">
<head>
    {% load filters %}
    {% load staticfiles %}
    <script type="text/javascript" src="/static/jquery-1.11.3.js"></script>
    <script charset="UTF-8">
        function display_consumption()
        {
            money_left = {{ customer.money_left }} - total_consumption;
            document.getElementById('total_consumption').innerHTML = "total consumption: ￥" + total_consumption + "<br>moeny left: ￥" + money_left;
        }

        function remove_dish(p_id, checkbox_id, dish_price)
        {
            $('#'+p_id).remove();
            $('#'+checkbox_id).removeAttr('checked');
            total_consumption -= dish_price;
            display_consumption();
        }
        var total_consumption = 0;
        var money_left = 0;
        function select_dish(dish, dish_pk, dish_price){
            var p_id = "selected_dish_" + dish_pk;
            var checkbox_id = "id_dishes_" + dish_pk;
            var remove_button_id = "remove_dish_" + dish_pk;
            if(document.getElementById(checkbox_id).checked)
            {
                total_consumption += dish_price;
                var p = document.createElement("p");
                p.setAttribute("id", p_id);
                $(p).text(dish);
                var remove_button = document.createElement("button");
                remove_button.setAttribute("id", remove_button_id);
                remove_button.setAttribute("type", "button");
                remove_button.setAttribute("style", "margin-left:10px");
                remove_button.innerHTML = "-";
                remove_button.onclick = function(){remove_dish(p_id, checkbox_id, dish_price)};
                $(p).append(remove_button);
                $('#user_choices').append(p);
            }
            else
            {
                total_consumption -= dish_price;
                $('#'+p_id).remove();
            }

            display_consumption();
        }
    </script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Welcome {{ customer.name }}</title>
</head>
<body>
<div class="nav-bar" style="width: 100%; position: fixed; margin-top: 0px;z-index: 9999; background-color: white">
<div class="row" style="font-size: 19px; background-color: #ddffdd">
    {% if request.user.is_authenticated %}
        <div class="col-md-2"><a href="{% url 'logout' %}">{{ request.user.username }} logout</a></div>
    {% endif %}
    <div class="col-md-5"><a href="{% url 'in_order' restaurant_pk=order_list.restaurant.pk order_pk=order_list.pk%}">点单情况</a></div>
</div>
<div>
    <h2><b>{{ order_list.restaurant.name }}</b></h2>
</div>
</div>
<div style="width: 100%; padding-top: 80px; z-index: 10000">
{% if order_list.is_submitted %}
    <h4>此订单已提交</h4>
{% else %}
    <form action="{% url 'in_order' restaurant_pk=order_list.restaurant.pk order_pk=order_list.pk %}" method="POST">
        {% csrf_token %}
        <input id="id_customer" name="customer" type="hidden" value="{{ customer.pk }}">
        <input id="id_order_list" name="order_list" type="hidden" value="{{ order_list.pk }}">
        <div class="container-fluid" style="width: 100%; height: 100%; overflow: auto;">
        <div class="row" style="font-size: 14px; width: 70%; height: 100%; float: left;">
        {% for group_name in dishes.keys %}
            <div class="row">
                <div class="col-md-12"><br></div>
            </div>
            <div class="row">
                <div class="col-md-12" style="font-size: 26px"><b>{{ group_name }}</b></div>
            </div>
            {% for dish in dishes|find_dishes_by_group:group_name%}
            <div class="col-md-4" style="height: 180px">
                <label for="id_dishes_{{ dish.pk }}">
                    <input class="dish_checkbox" type="checkbox" name="dishes"
                           id="id_dishes_{{ dish.pk }}" value="{{ dish.pk }}"
                            {% if dish in selected_dishes %} checked {% endif %}
                           onchange="javascript:select_dish('{{ dish }}', {{ dish.pk }}, {{ dish.price }});"/>
                </label>
                <img src= "{{ dish.image.url }}" height="80" width="80">
                <br>{{ dish.name }}
                <br>{{ dish.rating }}分 ({{ dish.rating_count }}评)
                  月售{{ dish.month_sales }}份
                <br>{{ dish.price }}元
            </div>
            {% endfor %}
        {% endfor %}
        </div>
        <div id="user_choices" style="position: fixed; top: 110px; margin-left: 70%;float: right; height: 100vh; width: 30%; background-color: #aaaaaa">
            <p id="total_consumption">
                total consumption: ￥0
                <br>money left: ￥{{ customer.money_left }}
            </p>
            <div><input class="submit_choices" type="submit" value="Submit Order" /></div>
        </div>
        </div>
    </form>
{% endif %}
</div>

    <script>
        $(document).ready(document_ready());
        function document_ready()
        {
            load_selected_dish();
        }

        function load_selected_dish()
        {
            {% for dish in selected_dishes %}
                select_dish('{{ dish }}', {{ dish.pk }}, {{ dish.price }});
            {% endfor %}

            //$(":checkbox:checked").each(function () {
            //     var dish_pk = $(this).attr("value");
            //     select_dish('unknown', dish_pk, 0);
            // });

            //var checkboxes = document.getElementsByClassName('dish_checkbox');
            //for(var i = 0; i < checkboxes.length; i++)
            //{
            //    if(checkboxes[i].checked)
            //    {
            //        var dish_pk = checkboxes[i].value;
            //    }
            //}

        }
    </script>
</body>
</html>