<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMW Group Ordering</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<h1 style="text-align: center"><b>BMW Group Ordering</b></h1>
{% if request.user.is_authenticated %}
    <div class="row" style="font-size: 19px; background-color: #ddffdd">
        <div class="col-md-2"><a href="{% url 'logout' %}">{{ request.user.username }} logout</a></div>
        <div class="col-md-1"><a href="{% url 'restaurant_list' %}">返回首页</a></div>
    </div>
    <h1>已登陆</h1>
{% else %}
<form action='{% url 'in_process' cookie=cookie %}' method='POST'> {% csrf_token %}
    <div class="container">
        <p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1"><label for='username'> Username </label></div>
            <div class="col-md-2"><input type='text' name='Username' id='username'></div>
        </div>
        </p>
        <p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1"><label for='password'>Password </label></div>
            <div class="col-md-2"><input type='password' name='Password' id='password'></div>
        </div>
        </p>
        <p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1"><label for='captcha'>Captcha </label></div>
            <div class="col-md-2"><input type='captcha' name='Captcha' id='captcha'></div>
            <img src= "../media/captcha.jpg">
        </div>
        </p>
        <p style="text-align: center"><input type='submit' value='login'></p>
        <p style="text-align: center; color: red">
            Notice: The account for lunch order organizer should be registered
            <br>both on ELEME server and BMW Group Ordering system!
        </p>
    </div>
</form>
{% endif %}
</body>
</html>