<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order history</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="nav-bar" style="width: 100%; position: fixed; margin-top: 0px;z-index: 9999; background-color: white">
<div>
    <h1 style="text-align: center" ><b>BMW Group Ordering</b></h1>
</div>
<div class="row" style="font-size: 19px; background-color: #ddffdd">
    <div class="col-md-1"></div>
    {% if request.user.is_authenticated %}
        <div class="col-md-2"><a href="{% url 'logout' %}">{{ request.user.username }} logout</a></div>
        <div class="col-md-1"><a href="{% url 'restaurant_list' %}">首页</a></div>
    {% endif %}
    <div class="col-md-1"><a href="{% if lastest_order != None %}
                                      {% url 'in_order' restaurant_pk=lastest_order.restaurant.pk order_pk=lastest_order.pk%}
                                   {% else %}
                                      {% url 'error' info='No order history'%}
                                   {% endif %}">
                                   本次订单</a></div>
</div>
</div>
<div style="width: 100%; padding-top: 120px; z-index: 10000">
    {% for order in order_lists %}
        <div class="row" style="font-size: 19px">
            <div class="col-md-5"><a href="{% url 'in_order' restaurant_pk=order.restaurant.pk order_pk=order.pk%}">{{ order }}</a></div>
            {% if not order.is_submitted %}
                <div class="col-md-1" style="color: red">未提交</div>
            {% endif %}
        </div>
    {% endfor %}
</div>
</body>
</html>