<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Restaurants</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript" src="/static/jquery-1.11.3.js"></script>
</head>
<body>
<div class="nav-bar" style="width: 100%; position: fixed; margin-top: 0px;z-index: 9999; background-color: white">
<div>
    <h1 style="text-align: center" ><b>BMW Group Ordering</b></h1>
</div>
<div class="row" style="font-size: 19px; background-color: #ddffdd">
    <div class="col-md-1"></div>
    {% if request.user.is_authenticated %}
        <div class="col-md-2"><a href="{% url 'logout' %}">{{ request.user.username }} logout</a></div>
    {% endif %}
    <div class="col-md-1"><a href="{% url 'order_list' %}">点餐历史</a></div>
    <div class="col-md-1">
        <a href="{% if lastest_order != None %}
                     {% url 'in_order' restaurant_pk=lastest_order.restaurant.pk order_pk=lastest_order.pk%}
                 {% else %}
                     {% url 'error' info='No order history'%}
                 {% endif %}">
            本次订单</a></div>
</div>
<div class="row">
    <div class="col-md-12"><br></div>
</div>
</div> <!-- nav-bar -->
<div style="width: 100%; padding-top: 120px; z-index: 10000">
{% for restaurant in restaurants %}
    <div class="row" style="font-size: 22px">
        <div class="col-md-1"></div>
        <div class="col-md-1"><img src= "{{ restaurant.logo.url }}" height="100" width="100" class="img-circle"></div>
        <div class="col-md-2"><a href="{% url "group_menu" restaurant_pk=restaurant.pk %}">{{ restaurant.name }} <br> {{ restaurant.rate }}分 月售{{ restaurant.sales }}份 </a></div>
        <div class="col-md-2"></div>
        <div class="col-md-1">起送价格<br>{{ restaurant.minimum_expense }}</div>
        <div class="col-md-1">配送费<br>{{ restaurant.deliver_cost }}</div>
        <div class="col-md-2">平均送达速度<br>{{ restaurant.arrival }}</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-12"><br></div>
    </div>
{% endfor %}
<div class="pagination" style="font-size: 18px;">
    <span class="step-links">
        {% if restaurants.has_previous %}
            <a href="?page={{ restaurants.previous_page_number }}">&lt&lt</a>
        {% endif %}

        <span class="current">
            Page {{ restaurants.number }} of {{ restaurants.paginator.num_pages }}.
        </span>

        {% if restaurants.has_next %}
            <a href="?page={{ restaurants.next_page_number }}">&gt&gt</a>
        {% endif %}
    </span>
</div>
</div>
</body>
</html>